.version.___________2 /* version checker */
{
	color: #00000A;
	background-color: #E8A955;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 680px;
	min-height: 262px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 121px 88px 117px 192px;
}

#u97-8
{
	z-index: 2;
	width: 680px;
	min-height: 262px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u97-2
{
	font-size: 104px;
	line-height: 125px;
}

#u97-4
{
	font-size: 49px;
	line-height: 59px;
}

#u97-6
{
	font-size: 28px;
	line-height: 34px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

