body {
  background-color: #fcfcfc;
  font: 300 0.875em/1.38 Lato;
  color: #080808;
    min-width: 1200px;
}

.button-post-header-container button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 172;
  width: 195px;
  height: 64px;
  margin: 0 auto;
  border: 1px solid rgb(239, 117, 34);
  border-radius: 50px;
  background: url('../images/light-bulb-on-designed-by-nice-and-serious-from-flaticoncom(2).png') rgba(239, 117, 34, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 24% 49%;
  font-size: 1.071em;
  font-weight: 700;
  line-height: 1.38;
  text-indent: 15px;
  color: #ee8522;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.container-links ul {
  position: relative;
  float: left;
  width: 700px;
  height: 20px;
}

.controls-allign-wrap button {
  float: left;
  width: 147px;
  height: 41px;
  margin-top: 19px;
  border: 1px solid rgb(239, 133, 34);
  border-radius: 50px;
  background: url('../images/light-bulb-on-designed-by-nice-and-serious-from-flaticoncom.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 21% 43%;
  font-size: 0.929em;
  font-weight: 400;
  line-height: 1.38;
  text-indent: 10px;
  color: rgb(239, 133, 34);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.footer-navigation-link li {
  min-height: 18px;
  font-size: 0.786em;
}

.navigation li {
  font-size: 0.929em;
  text-align: center;
}

.navigation li:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.navigation-desktop li {
  font-weight: 900;
  color: #3e3e3e;
}

.navigation-desktop ul {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 198;
  width: 572px;
  height: 35px;
  margin: auto;
}

.navigation-tablet li {
  margin-top: 9px;
  font-weight: 700;
}

.navigation-tablet ul {
  visibility: hidden;
  float: left;
  width: 668px;
  height: 35px;
  margin: 15px 0 auto 2.5%;
}

.tags-link-wrap button {
  float: left;
  width: 85px;
  height: 26px;
  background-color: #fcfcfc;
  font-size: 0.857em;
  color: #969696;
}

button {
  display: block;
  text-align: center;
}

li {
  float: left;
  line-height: 1.38;
  text-transform: uppercase;
}

span {
  display: block;
  position: relative;
  float: right;
  z-index: 191;
  width: 52px;
  min-height: 21px;
  margin: 21px 15.63895% 0 0;
  font-size: 0.857em;
  font-weight: 700;
  line-height: 1.38;
  color: #7a7a7a;
}

ul {
  background-color: rgba(222, 222, 222, 0);
}

.all_rights_reserved-text {
  float: left;
  clear: both;
  width: 492px;
  min-height: 20px;
  margin-top: 2px;
  font-size: 0.786em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.allign-container-info {
  position: relative;
  float: left;
  width: 87.8048780487%;
  height: 210px;
  margin: 58px 0 0 21px;
  background-color: rgba(222, 222, 222, 0);
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: url('../images/avater_image(2).png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.button-post-header-container {
  position: relative;
  width: 216px;
  height: 64px;
  margin: 15px auto 0;
}

.circle-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  margin: auto 0;
  border-radius: 50px;
  background-color: #121114;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.circle-wrap:hover {
  -webkit-transform:  scale(1.5,1.5);
  -moz-transform:  scale(1.5,1.5);
  -o-transform:  scale(1.5,1.5);
  -ms-transform:  scale(1.5,1.5);
  transform:  scale(1.5,1.5);
}

.circle-wrap-active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 25;
  width: 17px;
  height: 17px;
  margin: auto;
  border-radius: 50px;
  background-color: rgb(18, 17, 20);
}

.container-links {
  position: relative;
  float: left;
  z-index: 18;
  width: 72.1649484536%;
  height: 42px;
  margin-top: 23px;
}

.content-container {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 1540px;
}

.controls-allign-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 29;
  width: 100%;
  height: 79px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
}

.controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  width: 95.6228956228%;
  height: 237px;
  margin: 0 auto;
  background-color: rgba(222, 222, 222, 0);
}

.date {
  float: left;
  width: 70px;
  min-height: 16px;
  margin-top: 4px;
  font-size: 0.857em;
  line-height: 1.38;
  color: #c5c5c5;
}

.dates-wrap {
  float: left;
  width: 97px;
  height: 20px;
  margin: 15px 0 0 18px;
  background-color: rgba(222, 222, 222, 0);
}

.description-h2 {
  width: 52.7994791666%;
  min-height: 53px;
  margin: 7px auto 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: #333333;
}

.facebook-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/facebook-logo-button-designed-by-bogdan-rosu-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.first-name {
  float: left;
  clear: both;
  width: 51px;
  min-height: 18px;
  margin-top: 5px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: #ef8522;
}

.footer-element-container {
  position: relative;
  width: 80.8333333333%;
  height: 87px;
  margin: 19px auto 0;
  background-color: rgba(222, 222, 222, 0);
}

.footer-link-1 {
  position: relative;
  z-index: 12;
  width: 66px;
  font-weight: 400;
  color: rgb(109, 109, 110);
}

.footer-link-2 {
  width: 66px;
  font-weight: 400;
  color: rgb(109, 109, 110);
}

.footer-link-3 {
  width: 81px;
  margin-left: 4.57143%;
  font-weight: 400;
  color: rgb(109, 109, 110);
}

.footer-link-4 {
  position: relative;
  z-index: 15;
  width: 66px;
  margin-left: 5.5625%;
  font-weight: 400;
  color: rgb(109, 109, 110);
}

.footer-link-5 {
  width: 198px;
  margin-left: 1.99777%;
  color: rgb(255, 255, 255);
}

.footer-section {
  float: left;
  clear: both;
  width: 100%;
  height: 128px;
  background-color: #121114;
}

.google_plus-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/google-plus-social-logotype-designed-by-freepik-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.header {
  position: relative;
  float: left;
  width: 100%;
  height: 75px;
  background-color: #fafafa;
}

.headline-border-rectangle {
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  z-index: 171;
  width: 182px;
  height: 26px;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  background-color: #fcfcfc;
}

.headline-text {
  width: 171px;
  min-height: 16px;
  margin: 3px auto 0;
  font-size: 0.929em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(118, 118, 118);
}

.idea-info-wrap {
  position: relative;
  float: left;
  width: 76.2764830508%;
  height: 46px;
  margin: 7px 0 0 4.0678%;
}

.idea-info-wrap .title-text-topic {
  top: 0;
  left: 0;
}

.idea-info-wrap .user-name {
  top: 24px;
  left: -0.0069137169%;
}

.idea-preview-container {
  position: relative;
  float: left;
  width: 96.6329966329%;
  height: 325px;
  margin-left: 3.36525%;
  background-color: rgba(222, 222, 222, 0);
}

.idea-preview-container .line {
  position: absolute;
  top: 323px;
  left: -3.4825058073%;
  width: 103.4843205574%;
  background-color: #ebebeb;
}

.idea-text-preview {
  float: left;
  width: 99.8729931932%;
  min-height: 91px;
  font-size: 1em;
  line-height: 1.38;
  color: #080808;
}

.idea-wrap {
  position: relative;
  float: left;
  clear: both;
  width: 295px;
  height: 62px;
}

.idea-wrap .avatar-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

.idea-wrap .user-info-preview-wrap {
  position: relative;
  height: 61px;
}

.ideas-container-align {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 140;
  width: 295px;
  height: 255px;
  margin: auto;
  background-color: rgba(222, 222, 222, 0);
}

.left-side-container {
  position: relative;
  float: left;
  width: 69.609375%;
  height: 1541px;
}

.likes-stats {
  float: left;
  width: 67px;
  height: 35px;
  background: url('../images/heart-designed-by-freepik-from-flaticoncom(2).png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left bottom;
}

.line {
  height: 1px;
}

.line-vertical {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 21;
  width: 1px;
  height: 1541px;
  background-color: #ebebeb;
}

.links-logic {
  position: absolute;
  top: 25px;
  left: 2.5%;
  z-index: 177;
  width: 50%;
  min-height: 23px;
  font-size: 0.857em;
  line-height: 1.38;
  color: #c1c1c1;
}

.logic-links-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 178;
  width: 100%;
  height: 69px;
}

.login-panel {
  position: absolute;
  top: 0;
  right: 0.1158854166%;
  z-index: 192;
  width: 112px;
  height: 75px;
  background-color: rgba(222, 222, 222, 0);
}

.logo {
  position: absolute;
  top: 0;
  left: 2.25%;
  z-index: 188;
  width: 210px;
  height: 75px;
  background-image: url('../images/logo-header(2).png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.logo-container-footer {
  position: absolute;
  top: 0;
  right: 0.2754820936%;
  width: 195px;
  height: 75px;
  background: url('../images/logo-footer.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.nav-link1 {
  width: 125px;
  min-height: 20px;
  margin-top: 9px;
  color: #767676;
}

.nav-link1:hover {
  text-decoration: none;
  color: #000000;
}

.nav-link2 {
  width: 94px;
  min-height: 20px;
  margin-top: 9px;
  color: #7a7a7a;
}

.nav-link3 {
  width: 67px;
  min-height: 20px;
  margin-top: 9px;
  color: #767676;
}

.nav-link4 {
  width: 100px;
  min-height: 20px;
  margin-top: 9px;
  color: #767676;
}

.nav-link4:hover {
  color: #101010;
}

.nav-link5 {
  min-height: 34px;
  color: #767676;
}

.nav-link2:hover,
.nav-link3:hover,
.nav-link5:hover {
  color: #000000;
}

.navigation-desktop {
  position: relative;
  float: left;
  width: 100%;
  height: 76px;
  background-color: rgba(250, 250, 250, 0);
}

.navigation-desktop .line {
  position: relative;
  float: left;
  z-index: 187;
  width: 100%;
  margin-top: 74px;
  background-color: #efefef;
}

.navigation-desktop .nav-link1 {
  margin-left: 0.17483%;
}

.navigation-desktop .nav-link3 {
  margin-left: 4.18761%;
}

.navigation-desktop .nav-link2,
.navigation-desktop .nav-link4 {
  margin-left: 4.37063%;
}

.navigation-desktop .nav-link5 {
  width: 86px;
  margin-left: 4.30507%;
}

.navigation-tablet {
  visibility: hidden;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 186;
  width: 100%;
  height: 50px;
  background-color: #efefef;
  overflow: visible;
}

.navigation-tablet .nav-link1 {
  margin-left: 0.16374%;
}

.navigation-tablet .nav-link3 {
  margin-left: 4.18694%;
}

.navigation-tablet .nav-link2,
.navigation-tablet .nav-link4 {
  margin-left: 4.36939%;
}

.navigation-tablet .nav-link5 {
  width: 144px;
  margin-left: 4.26647%;
}

.notifications {
  position: relative;
  float: right;
  clear: both;
  z-index: 189;
  width: 68px;
  height: 75px;
  margin: -75px 111px 0 0;
  background: url('../images/notifications-bell-button-designed-by-google-from-flaticoncom(2).svg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.numbers-likes-stats {
  float: left;
  width: 41px;
  min-height: 18.5px;
  margin-left: 25px;
  font-size: 1em;
  line-height: 1.38;
  color: #aeaeae;
}

.numbers-replays-stats {
  float: left;
  width: 41px;
  min-height: 18.5px;
  margin: 17px 0 0 25px;
  font-size: 1em;
  line-height: 1.38;
  color: #aeaeae;
}

.page-numbers {
  float: left;
  width: 8px;
  min-height: 12px;
  margin-left: 5px;
  font-size: 0.786em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.pages-circle-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 27;
  width: 60px;
  height: 21px;
  margin: auto;
  background-color: rgba(248, 159, 159, 0);
}

.post-header-center-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 176;
  width: 100%;
  height: 264px;
  margin: auto;
  background-color: rgba(243, 241, 241, 0);
}

.post-header-image-container {
  position: relative;
  float: left;
  clear: both;
  z-index: 179;
  width: 100%;
  height: 340px;
  background-color: #fcfcfc;
}

.post-header-image-container .line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 169;
  width: 100%;
  margin: 0 auto;
  background-color: #ebebeb;
}

.read_it-link {
  float: left;
  width: 48px;
  min-height: 19px;
  margin-top: 3px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  text-decoration: underline;
  color: #ef8522;
}

.read_it-link-wrap {
  position: absolute;
  top: 13px;
  width: 53px;
  height: 20px;
  background-color: rgba(222, 222, 222, 0);
}

.replay-stats {
  float: left;
  width: 67px;
  height: 35px;
  margin-left: 11px;
  background: url('../images/chat-comment-oval-speech-bubble-with-text-lines-designed-by-catalin-fertu-from-flaticoncom.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left bottom;
}

.right-side-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 167;
  width: 30.390625%;
  height: 1514px;
}

.right-side-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 166;
  width: 100%;
  height: 602px;
  background-color: #f2f2f2;
}

.social-links-container {
  position: absolute;
  top: 0;
  left: -0.210915978%;
  z-index: 5;
  width: 121px;
  height: 85px;
  background-color: rgba(222, 222, 222, 0);
}

.social-logo-container-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  width: 37.4226804123%;
  height: 85px;
}

.stats-button-container {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 35px;
  background-color: rgba(208, 113, 113, 0);
}

.tags {
  float: left;
  width: 100%;
  min-height: 22.5px;
  font-size: 0.929em;
  line-height: 1.38;
  word-spacing: 20px;
  color: #969696;
}

.tags-container {
  float: left;
  width: 100%;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
}

.tags-container-align {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 164;
  width: 295px;
  height: 187px;
  margin: auto;
  background-color: rgba(222, 222, 222, 0);
}

.tags-hyper-wrap {
  float: left;
  clear: both;
  width: 295px;
  height: 110px;
  margin-top: 18px;
  padding: 1px;
  background-color: rgba(222, 222, 222, 0);
}

.tags-link-wrap {
  position: relative;
  float: left;
  width: 85px;
  height: 26px;
}

.tags-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 165;
  width: 389px;
  height: 250px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.tags-wrap .line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 142;
  width: 100%;
  margin: 0 auto;
  background-color: #d6d6d6;
}

.text-headline {
  width: 410px;
  min-height: 50px;
  margin: 25px auto 0;
  padding: 11px;
  font-size: 2.143em;
  line-height: 1.30;
  text-align: center;
  color: rgb(239, 133, 34);
}

.text-preview-container {
  float: left;
  clear: both;
  width: 100%;
  height: 94px;
  background-color: rgba(161, 214, 245, 0);
}

.title-container {
  float: left;
  clear: both;
  width: 100%;
  height: 58px;
  background-color: rgba(247, 249, 173, 0);
}

.title-container .title-text {
  width: 85.4876285347%;
  min-height: 31px;
  margin-top: 12px;
  font-weight: 400;
  color: #ef8522;
}

.title-text {
  float: left;
  font-size: 1.429em;
  line-height: 1.38;
}

.title-text-topic {
  position: absolute;
  width: 225px;
  min-height: 22px;
  font-size: 1.143em;
  line-height: 1.38;
  color: #ef8522;
}

.title-wrap {
  float: left;
  width: 99.9947033898%;
  height: 30px;
  background-color: rgba(222, 222, 222, 0);
}

.title-wrap .title-text {
  width: 128px;
  min-height: 25px;
  color: #c5c3c3;
}

.top-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 22;
  width: 3.1690140845%;
  height: 22px;
  margin: auto 0;
  background: url('../images/upwards-arrow-designed-by-anas-ramadan-from-flaticoncom.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.top-arrow:hover {
  opacity: 0.8;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.top-iades-wrap {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  z-index: 141;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  background-color: rgba(235, 235, 235, 0);
}

.twitter-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/twitter-logo-button-designed-by-bogdan-rosu-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.user-info-container {
  position: relative;
  float: left;
  width: 52px;
  height: 323px;
  background-color: rgba(222, 222, 222, 0);
}

.user-info-container .avatar-img {
  float: left;
}

.user-info-container .user-info-preview-wrap {
  height: 74px;
  margin-top: 98px;
}

.user-info-preview-wrap {
  float: left;
  width: 52px;
}

.user-info-preview-wrap .title-text-topic {
  top: 7px;
  left: 123.0769230769%;
  z-index: 134;
}

.user-info-preview-wrap .user-name {
  top: 31px;
  left: 123.0769230769%;
  z-index: 133;
}

.user-login {
  position: absolute;
  top: 0;
  right: 56.3973063973%;
  z-index: 190;
  width: 47px;
  height: 75px;
  background: url('../images/man-user-designed-by-freepik-from-flaticoncom(2).svg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.user-name {
  position: absolute;
  width: 225px;
  min-height: 22px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: #c2c2c2;
}

.vertical-line-footer {
  position: absolute;
  top: 3px;
  width: 1px;
  height: 12px;
  background-color: #acacac;
}

.youtube-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/youtube-logo-designed-by-simpleicon-from-flaticoncom(3).png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.allign-container-info-1 {
  z-index: 113;
}

.allign-container-info-2 {
  z-index: 91;
}

.allign-container-info-3 {
  z-index: 69;
}

.allign-container-info-4 {
  z-index: 47;
}

.avatar-img-5 {
  z-index: 135;
}

.avatar-img-6 {
  z-index: 129;
}

.avatar-img-7 {
  z-index: 123;
}

.circle-wrap-1 {
  left: 3.5714285714%;
  z-index: 26;
}

.circle-wrap-2 {
  right: 2.8738839285%;
  z-index: 23;
}

.idea-preview-container-1 {
  z-index: 118;
}

.idea-preview-container-2 {
  clear: both;
  z-index: 96;
  margin-top: 1px;
}

.idea-preview-container-3 {
  clear: both;
  z-index: 74;
}

.idea-preview-container-4 {
  clear: both;
  z-index: 52;
}

.idea-wrap-1 {
  margin-top: 19px;
}

.line-3 {
  z-index: 97;
}

.line-4 {
  z-index: 75;
}

.line-5 {
  z-index: 53;
}

.line-6 {
  z-index: 31;
}

.numbers-likes-stats-1 {
  margin-top: 18px;
}

.numbers-likes-stats-2,
.numbers-likes-stats-3,
.numbers-likes-stats-4 {
  margin-top: 17px;
}

.read_it-link-wrap-1 {
  right: 0.816385582%;
  z-index: 99;
}

.read_it-link-wrap-2 {
  right: 0.8122519841%;
  z-index: 77;
}

.read_it-link-wrap-3 {
  right: 0.8122519841%;
  z-index: 55;
}

.read_it-link-wrap-4 {
  right: 0.8122519841%;
  z-index: 33;
}

.tags-link-wrap-1 {
  z-index: 160;
  margin-left: 1.01856%;
}

.tags-link-wrap-2 {
  z-index: 158;
  margin-left: 5.09279%;
}

.tags-link-wrap-3 {
  z-index: 156;
  margin-left: 5.41809%;
}

.tags-link-wrap-4 {
  clear: both;
  z-index: 154;
  margin: 16px 0 0 1.01856%;
}

.tags-link-wrap-5 {
  z-index: 152;
  margin: 16px 0 0 5.09279%;
}

.tags-link-wrap-6 {
  z-index: 150;
  margin: 16px 0 0 5.41809%;
}

.tags-link-wrap-7 {
  clear: both;
  z-index: 148;
  margin: 15px 0 0 1.01856%;
}

.tags-link-wrap-8 {
  z-index: 146;
  margin: 15px 0 0 5.09279%;
}

.tags-link-wrap-9 {
  z-index: 144;
  margin: 15px 0 0 5.41809%;
}

.title-text-topic-2 {
  z-index: 127;
}

.title-text-topic-3 {
  z-index: 121;
}

.user-info-container-1 {
  z-index: 117;
}

.user-info-container-2 {
  z-index: 95;
}

.user-info-container-3 {
  z-index: 73;
}

.user-info-container-4 {
  z-index: 51;
}

.user-name-2 {
  z-index: 126;
}

.user-name-3 {
  z-index: 120;
}

.vertical-line-footer-1 {
  left: 7.1428571428%;
  z-index: 9;
}

.vertical-line-footer-2 {
  left: 20.2857142857%;
  z-index: 10;
}

.vertical-line-footer-3 {
  left: 37.5714285714%;
  z-index: 11;
}

.vertical-line-footer-4 {
  left: 48.8571428571%;
  z-index: 8;
}