body {
  background-color: rgb(252, 252, 252);
  font-size: 1em;
}

.element {
  background-size: cover;
  background-position: center center;
}

.element-1 {
  position: relative;
  float: left;
  z-index: 0;
  width: 1440px;
  height: 810px;
  background-image: url('../images/design(5).jpg');
  background-color: rgb(222, 222, 222);
}

.element-2 {
  position: absolute;
  top: 367px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 78px;
  height: 56px;
  margin: 0 auto;
  background-color: rgba(222, 222, 222, 0);
}