.version.index /* version checker */
{
	color: #000005;
	background-color: #F43F2A;
}

#page
{
	z-index: 1;
	width: 340px;
	min-height: 322.70000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 600px 157.29999999999995px 20px;
}

#widgetu72
{
	z-index: 2;
	width: 0.01px;
	height: 323px;
	position: relative;
}

#widgetu85
{
	z-index: 3;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu85.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u87-4
{
	z-index: 4;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u88-4
{
	z-index: 8;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

.html,#widgetu85.non-empty-st #u88-4
{
	background-color: #FFFFFF;
}

#widgetu85:hover #u88-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu85.focus-st #u88-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu85.non-empty-st #u88-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu85:hover #u88-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu85.focus-st #u88-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu75
{
	z-index: 12;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu75.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u78-4
{
	z-index: 13;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u76-4
{
	z-index: 17;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu75.non-empty-st #u76-4
{
	background-color: #FFFFFF;
}

#widgetu75:hover #u76-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu75.focus-st #u76-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu75.non-empty-st #u76-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu75:hover #u76-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu75.focus-st #u76-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u73-4
{
	z-index: 21;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu72.frm-sub-st #u73-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u83-4
{
	z-index: 25;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu72.frm-subm-err-st #u83-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u74-4
{
	z-index: 29;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu72.frm-sub-st #u73-4,#widgetu72.frm-subm-err-st #u83-4,#widgetu72.frm-subm-ok-st #u74-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu72.frm-subm-ok-st #u74-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u84-17
{
	z-index: 33;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 293px;
	background: url("../images/u84-17.png") no-repeat 0px 0px;
}

#u84-17:hover
{
	background: url("../images/u84-17-r.png") no-repeat 0px 0px;
}

#u84-17:active
{
	background: url("../images/u84-17-m.png") no-repeat 0px 0px;
}

#widgetu72.frm-sub-st #u84-17
{
	background: url("../images/u84-17-fs.png") no-repeat 0px 0px;
}

#widgetu79
{
	z-index: 50;
	width: 340px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: -1px;
}

#widgetu79.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 179px -10000px 0px 0px;
}

#u80-4
{
	z-index: 51;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu85.fld-err-st #u87-4,#widgetu79.fld-err-st #u80-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u81-4
{
	z-index: 55;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu79.non-empty-st #u81-4
{
	background-color: #FFFFFF;
}

#widgetu79:hover #u81-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu79.focus-st #u81-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu79.fld-err-st #u81-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu79.non-empty-st #u81-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu79:hover #u81-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu79.focus-st #u81-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu79_input,#widgetu79_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu98
{
	z-index: 59;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu98.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 119px -10000px 0px 0px;
}

#u99-4
{
	z-index: 60;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu75.fld-err-st #u78-4,#widgetu98.fld-err-st #u99-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu85.fld-err-st #u87-4 p,#widgetu85.fld-err-st #u87-4 span,#widgetu75.fld-err-st #u78-4 p,#widgetu75.fld-err-st #u78-4 span,#widgetu79.fld-err-st #u80-4 p,#widgetu79.fld-err-st #u80-4 span,#widgetu98.fld-err-st #u99-4 p,#widgetu98.fld-err-st #u99-4 span
{
	color: #D7244C;
}

#u100-5
{
	z-index: 64;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu98.non-empty-st #u100-5
{
	background-color: #FFFFFF;
}

#widgetu98:hover #u100-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu98.focus-st #u100-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu85.fld-err-st #u88-4,#widgetu75.fld-err-st #u76-4,#widgetu98.fld-err-st #u100-5
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu98.non-empty-st #u100-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu98:hover #u100-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu98.focus-st #u100-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu85.fld-err-st #u88-4 *,#widgetu75.fld-err-st #u76-4 *,#widgetu79.fld-err-st #u81-4 *,#widgetu98.fld-err-st #u100-5 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu85_input,#widgetu85_prompt,#widgetu75_input,#widgetu75_prompt,#widgetu98_input,#widgetu98_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu85.focus-st #widgetu85_prompt,#widgetu75.focus-st #widgetu75_prompt,#widgetu79.focus-st #widgetu79_prompt,#widgetu98.focus-st #widgetu98_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu85:hover #widgetu85_input,#widgetu85.focus-st #widgetu85_input,#widgetu85.fld-err-st #widgetu85_input,#widgetu85:hover #widgetu85_prompt,#widgetu85.fld-err-st #widgetu85_prompt,#widgetu75:hover #widgetu75_input,#widgetu75.focus-st #widgetu75_input,#widgetu75.fld-err-st #widgetu75_input,#widgetu75:hover #widgetu75_prompt,#widgetu75.fld-err-st #widgetu75_prompt,#widgetu79:hover #widgetu79_input,#widgetu79.focus-st #widgetu79_input,#widgetu79.fld-err-st #widgetu79_input,#widgetu79:hover #widgetu79_prompt,#widgetu79.fld-err-st #widgetu79_prompt,#widgetu98:hover #widgetu98_input,#widgetu98.focus-st #widgetu98_input,#widgetu98.fld-err-st #widgetu98_input,#widgetu98:hover #widgetu98_prompt,#widgetu98.fld-err-st #widgetu98_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu85.non-empty-st #widgetu85_prompt,#widgetu75.non-empty-st #widgetu75_prompt,#widgetu79.non-empty-st #widgetu79_prompt,#widgetu98.non-empty-st #widgetu98_prompt
{
	visibility: hidden;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

