body {
  background-color: #fcfcfc;
  font: 400 0.813em/1.38 Lato;
  color: #3e3e3e;
        min-width: 1200px;
}

.container-links ul {
  position: relative;
  float: left;
  width: 700px;
  height: 20px;
}

.footer-navigation-link li {
  min-height: 18px;
  font-size: 0.846em;
}

.navigation li {
  font-size: 1em;
  text-align: center;
}

.navigation li:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.navigation-desktop li {
  font-weight: 900;
  color: #3e3e3e;
}

.navigation-desktop ul {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 54;
  width: 572px;
  height: 35px;
  margin: auto;
}

.navigation-tablet li {
  margin-top: 9px;
  font-weight: 700;
}

.navigation-tablet ul {
  visibility: hidden;
  float: left;
  width: 668px;
  height: 35px;
  margin: 15px 0 auto 2.5%;
}

.tags-container input {
  width: 99.5024875621%;
  height: 32px;
  margin: 9px 0 0 0.24697%;
  font-size: 1.154em;
}

.title-headline-container input {
  width: 98.2989064398%;
  height: 38px;
  margin-left: 0.23348%;
  font-size: 2.308em;
}

button {
  display: block;
  position: absolute;
  bottom: 42px;
  left: 0;
  right: 0;
  z-index: 31;
  width: 147px;
  height: 41px;
  margin: 0 auto;
  border: 1px solid rgb(239, 133, 34);
  border-radius: 50px;
  background: url('../images/check-mark-designed-by-freepik-from-flaticoncom.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 26% 49%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  text-indent: 10px;
  color: rgb(239, 133, 34);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

form {
  position: relative;
  float: right;
  z-index: 29;
  width: 91.5555555555%;
  height: 498px;
  margin-right: 0.3316%;
  background-color: rgba(222, 222, 222, 0);
}

input {
  display: block;
  float: left;
  padding: 0 10px;
  background-color: rgba(242, 242, 242, 0);
  font-weight: 300;
  line-height: 1.38;
  color: #c5c5c3;
}

li {
  float: left;
  line-height: 1.38;
  text-transform: uppercase;
}

section {
  position: relative;
  float: left;
  clear: both;
  z-index: 33;
  width: 100%;
  height: 800px;
  margin-top: 50px;
}

span {
  display: block;
  position: relative;
  float: right;
  z-index: 47;
  width: 52px;
  min-height: 21px;
  margin: 21px 15.63895% 0 0;
  font-size: 0.923em;
  font-weight: 700;
  line-height: 1.38;
  color: #7a7a7a;
}

textarea {
  display: block;
  float: left;
  width: 99.875930521%;
  height: 296px;
  margin: 1px 0 0 0.12374%;
  background-color: rgba(222, 222, 222, 0);
}

ul {
  background-color: rgba(222, 222, 222, 0);
}

.add_image-button-container {
  float: left;
  width: 5.6666666666%;
  height: 30px;
  margin-top: 9px;
  background: url('../images/add-circular-outlined-button-designed-by-catalin-fertu-from-flaticoncom.svg') rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center top;
}

.all_rights_reserved-text {
  float: left;
  clear: both;
  width: 492px;
  min-height: 20px;
  margin-top: 2px;
  font-size: 0.846em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.container-links {
  position: relative;
  float: left;
  z-index: 18;
  width: 72.1649484536%;
  height: 42px;
  margin-top: 23px;
}

.facebook-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/facebook-logo-button-designed-by-bogdan-rosu-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.footer-element-container {
  position: relative;
  width: 80.8333333333%;
  height: 87px;
  margin: 19px auto 0;
  background-color: rgba(222, 222, 222, 0);
}

.footer-link-1 {
  position: relative;
  z-index: 12;
  width: 66px;
  color: rgb(109, 109, 110);
}

.footer-link-2 {
  width: 66px;
  color: rgb(109, 109, 110);
}

.footer-link-3 {
  width: 81px;
  margin-left: 4.57143%;
  color: rgb(109, 109, 110);
}

.footer-link-4 {
  position: relative;
  z-index: 15;
  width: 66px;
  margin-left: 5.5625%;
  color: rgb(109, 109, 110);
}

.footer-link-5 {
  width: 198px;
  margin-left: 1.99777%;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.footer-section {
  float: left;
  clear: both;
  width: 100%;
  height: 128px;
  background-color: #121114;
}

.google_plus-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/google-plus-social-logotype-designed-by-freepik-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.header {
  position: relative;
  float: left;
  width: 100%;
  height: 75px;
  background-color: #fafafa;
}

.line {
  float: left;
  clear: both;
  width: 99.9166666666%;
  height: 1px;
  background-color: #efefef;
}

.line-new-post-container {
  float: right;
  clear: both;
  height: 1px;
  background-color: #ebebeb;
}

.links-logic {
  position: absolute;
  top: 25px;
  left: 2.5%;
  z-index: 34;
  width: 54.78125%;
  min-height: 23px;
  font-size: 0.923em;
  line-height: 1.38;
  color: #c9c9c9;
}

.logic-links-container {
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 35;
  width: 100%;
  height: 69px;
}

.login-panel {
  position: absolute;
  top: 0;
  right: 0.1158854166%;
  z-index: 48;
  width: 112px;
  height: 75px;
  background-color: rgba(222, 222, 222, 0);
}

.logo {
  position: absolute;
  top: 0;
  left: 2.25%;
  z-index: 44;
  width: 210px;
  height: 75px;
  background-image: url('../images/logo-header(2).png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.logo-container-footer {
  position: absolute;
  top: 0;
  right: 0.2754820936%;
  width: 195px;
  height: 75px;
  background: url('../images/logo-footer.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.nav-link1 {
  width: 125px;
  min-height: 20px;
  margin-top: 9px;
  color: #767676;
}

.nav-link1:hover {
  text-decoration: none;
  color: #000000;
}

.nav-link2 {
  width: 94px;
  min-height: 20px;
  margin-top: 9px;
  color: #7a7a7a;
}

.nav-link3 {
  width: 67px;
  min-height: 20px;
  margin-top: 9px;
  color: #767676;
}

.nav-link4 {
  width: 100px;
  min-height: 20px;
  margin-top: 9px;
  color: #767676;
}

.nav-link4:hover {
  color: #101010;
}

.nav-link5 {
  min-height: 34px;
  color: #767676;
}

.nav-link2:hover,
.nav-link3:hover,
.nav-link5:hover {
  color: #000000;
}

.navigation-desktop {
  position: relative;
  float: left;
  width: 100%;
  height: 76px;
  background-color: rgb(250, 250, 250);
}

.navigation-desktop .nav-link1 {
  margin-left: 0.17483%;
}

.navigation-desktop .nav-link3 {
  margin-left: 4.18761%;
}

.navigation-desktop .nav-link2,
.navigation-desktop .nav-link4 {
  margin-left: 4.37063%;
}

.navigation-desktop .nav-link5 {
  width: 86px;
  margin-left: 4.30507%;
}

.navigation-tablet {
  visibility: hidden;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 42;
  width: 100%;
  height: 50px;
  background-color: #efefef;
  overflow: visible;
}

.navigation-tablet .nav-link1 {
  margin-left: 0.16374%;
}

.navigation-tablet .nav-link3 {
  margin-left: 4.18694%;
}

.navigation-tablet .nav-link2,
.navigation-tablet .nav-link4 {
  margin-left: 4.36939%;
}

.navigation-tablet .nav-link5 {
  width: 144px;
  margin-left: 4.26647%;
}

.new-post-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 32;
  width: 900px;
  height: 600px;
  margin: auto;
  background-color: rgba(222, 222, 222, 0);
}

.new-post-text-container {
  float: right;
  clear: both;
  width: 98.0787102892%;
  height: 300px;
  margin: 30px 0.02086% 0 0;
  background-color: rgba(222, 222, 222, 0);
}

.notifications {
  position: relative;
  float: right;
  z-index: 45;
  width: 68px;
  height: 75px;
  margin-right: 111px;
  background: url('../images/notifications-bell-button-designed-by-google-from-flaticoncom(2).svg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.social-links-container {
  position: absolute;
  top: 0;
  left: -0.210915978%;
  z-index: 5;
  width: 121px;
  height: 85px;
  background-color: rgba(222, 222, 222, 0);
}

.social-logo-container-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  width: 37.4226804123%;
  height: 85px;
}

.tags-container {
  float: left;
  clear: both;
  width: 99.0497866287%;
  height: 49px;
  margin: 5px 0 0 0.82676%;
  background-color: rgba(222, 222, 222, 0);
}

.title-headline-container {
  position: relative;
  float: left;
  width: 99.8994784257%;
  height: 39px;
  margin-left: 0.09671%;
  background-color: rgba(222, 222, 222, 0);
}

.twitter-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/twitter-logo-button-designed-by-bogdan-rosu-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.user-login {
  position: absolute;
  top: 0;
  right: 56.3973063973%;
  z-index: 46;
  width: 47px;
  height: 75px;
  background: url('../images/man-user-designed-by-freepik-from-flaticoncom(2).svg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.vertical-line-footer {
  position: absolute;
  top: 3px;
  width: 1px;
  height: 12px;
  background-color: #acacac;
}

.youtube-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/youtube-logo-designed-by-simpleicon-from-flaticoncom(3).png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.line-new-post-container-1 {
  width: 97.9573257467%;
  margin: 18px 0.14222% 0 0;
}

.line-new-post-container-2 {
  width: 97.9599999999%;
  margin: 32px 0.11188% 0 0;
}

.vertical-line-footer-1 {
  left: 7.1428571428%;
  z-index: 9;
}

.vertical-line-footer-2 {
  left: 20.2857142857%;
  z-index: 10;
}

.vertical-line-footer-3 {
  left: 37.5714285714%;
  z-index: 11;
}

.vertical-line-footer-4 {
  left: 48.8571428571%;
  z-index: 8;
}

