body {
  background-color: #fcfcfc;
  font: 300 0.875em/1.38 Lato;
  color: #080808;
        min-width: 1200px;
}
li{
    cursor: pointer;
}

onclick{
    cursor: pointer;
}

.button-post-header-container button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 147;
  width: 195px;
  height: 64px;
  margin: 0 auto;
  background: url('../images/edit-draw-pencil-designed-by-egor-rumyantsev-from-flaticoncom(3).png') #ef8522;
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 36px 26px;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  text-indent: 15px;
  color: #ffffff;
}

.button-post-header-container button:hover {
  background-color: #ef8522;
  color: #ffffff;
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.button-post-header-container button:active {
  background-color: #ef8522;
  color: #ffffff;
  -webkit-transform: scale(1.1,1.1) translatey(5px);
  -moz-transform: scale(1.1,1.1) translatey(5px);
  -o-transform: scale(1.1,1.1) translatey(5px);
  -ms-transform: scale(1.1,1.1) translatey(5px);
  transform: scale(1.1,1.1) translatey(5px);
}

.container-links ul {
  position: relative;
  float: left;
  width: 700px;
  height: 20px;
}

.controls-allign-wrap button {
  float: left;
  width: 147px;
  height: 41px;
  margin-top: 19px;
  border: 1px solid rgb(239, 133, 34);
  background: url('../images/light-bulb-on-designed-by-nice-and-serious-from-flaticoncom.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 21% 43%;
  font-size: 0.929em;
  font-weight: 400;
  text-indent: 10px;
  color: rgb(239, 133, 34);
}

.footer-navigation-link li {
  min-height: 18px;
  font-size: 0.786em;
}

.header button {
  position: relative;
  float: right;
  z-index: 154;
  width: 147px;
  height: 41px;
  margin: 17px 2.7487% 0 0;
  border: 1px solid #d8d8d8;
  background-color: rgba(222, 222, 222, 0);
  font-size: 0.929em;
  font-weight: 400;
  color: rgb(196, 196, 196);
}

.header button:hover {
  border-color: #818181;
  background-color: rgba(222, 222, 222, 0);
  color: #818181;
}

.header ul {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 159;
  width: 508px;
  height: 29px;
  margin: auto;
}

.navigation li {
  min-height: 20px;
  margin-top: 9px;
  font-size: 0.929em;
  font-weight: 900;
  text-align: center;
  color: #3e3e3e;
}

.navigation li:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

button {
  display: block;
  border-radius: 50px;
  line-height: 1.38;
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

li {
  float: left;
  line-height: 1.38;
  text-transform: uppercase;
}

ul {
  background-color: rgba(222, 222, 222, 0);
}

.text-preview-container-2 p,
.text-preview-container-3 p,
.text-preview-container-4 p {
  margin-bottom: 1em;
}

.all-member-link-img {
  float: left;
  width: 42px;
  height: 54px;
  background: url('../images/users-communication-designed-by-freepik-from-flaticoncom.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.all-members-link {
  float: left;
  width: 116px;
  min-height: 23px;
  margin: 18px 0 0 2.1473%;
  font: 400 1em/1.38 Helvetica;
  color: #ffffff;
}

.all-members-link-wrap {
  float: right;
  width: 171px;
  height: 71px;
  margin-right: 1.4974%;
  background-color: rgba(222, 222, 222, 0);
    cursor: pointer;
}

.all_rights_reserved-text {
  float: left;
  clear: both;
  width: 492px;
  min-height: 20px;
  margin-top: 2px;
  font-size: 0.786em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.allign-container-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 73px;
  width: 787px;
  height: 210px;
  margin: auto 0;
  background-color: rgba(222, 222, 222, 0);
}

.avatar-img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: url('../images/avater_image(2).png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.button-post-header-container {
  position: relative;
  width: 216px;
  height: 60px;
  margin: 16px auto 0;
}

.circle-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  margin: auto 0;
  border-radius: 50px;
  background-color: #121114;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.circle-wrap:hover {
  -webkit-transform:  scale(1.5,1.5);
  -moz-transform:  scale(1.5,1.5);
  -o-transform:  scale(1.5,1.5);
  -ms-transform:  scale(1.5,1.5);
  transform:  scale(1.5,1.5);
}

.circle-wrap-active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 24;
  width: 17px;
  height: 17px;
  margin: auto;
  border-radius: 50px;
  background-color: rgb(18, 17, 20);
}

.container-links {
  position: relative;
  float: left;
  z-index: 18;
  width: 72.1649484536%;
  height: 42px;
  margin-top: 23px;
}

.content-contaienr {
  position: relative;
  width: 100%;
  height: 1800px;
  margin: 515px auto 0;
  background-color: rgba(222, 222, 222, 0);
}

.controls-allign-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 28;
  width: 100%;
  height: 79px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
}

.controls-container {
  position: relative;
  width: 71%;
  height: 237px;
  margin: 0 auto;
  background-color: rgba(222, 222, 222, 0);
}

.date {
  float: left;
  width: 70px;
  min-height: 16px;
  font-size: 0.857em;
  line-height: 1.38;
  color: #c5c5c5;
}

.dates-wrap {
  float: left;
  width: 97px;
  height: 20px;
  margin: 15px 0 0 18px;
  background-color: rgba(222, 222, 222, 0);
}

.facebook-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/facebook-logo-button-designed-by-bogdan-rosu-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.first-name {
  float: left;
  clear: both;
  width: 51px;
  min-height: 18px;
  margin-top: 5px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: #ef8522;
}

.footer-element-container {
  position: relative;
  width: 80.8333333333%;
  height: 87px;
  margin: 19px auto 0;
  background-color: rgba(222, 222, 222, 0);
}

.footer-link-1 {
  position: relative;
  z-index: 12;
  width: 66px;
  font-weight: 400;
  color: rgb(109, 109, 110);
}

.footer-link-2 {
  width: 66px;
  font-weight: 400;
  color: rgb(109, 109, 110);
}

.footer-link-3 {
  width: 81px;
  margin-left: 4.57143%;
  font-weight: 400;
  color: rgb(109, 109, 110);
}

.footer-link-4 {
  position: relative;
  z-index: 15;
  width: 66px;
  margin-left: 5.5625%;
  font-weight: 400;
  color: rgb(109, 109, 110);
}

.footer-link-5 {
  width: 198px;
  margin-left: 1.99777%;
  color: rgb(255, 255, 255);
}

.footer-section {
  float: left;
  clear: both;
  width: 100%;
  height: 128px;
  background-color: #121114;
}

.google_plus-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/google-plus-social-logotype-designed-by-freepik-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.header {
  position: relative;
  float: left;
  width: 100%;
  height: 75px;
  background-color: #fafafa;
}

.header .line {
  float: left;
  clear: both;
  width: 99.9166666666%;
  margin-top: 17px;
  background-color: #e4e4e4;
}

.headline-border-rectangle {
  position: absolute;
  top: 249px;
  left: 0;
  right: 0;
  z-index: 120;
  width: 182px;
  height: 26px;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  background-color: #fcfcfc;
}

.headline-text {
  width: 171px;
  min-height: 16px;
  margin: 3px auto 0;
  font-size: 0.929em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(118, 118, 118);
}

.idea-preview-container {
  position: relative;
  width: 852px;
  height: 325px;
  margin: 0 auto;
  background-color: rgba(222, 222, 222, 0);
}

.idea-preview-container .line {
  float: left;
  clear: both;
  width: 852px;
  background-color: #ebebeb;
}

.idea-preview-container .user-info-container {
  position: relative;
  float: left;
  width: 52px;
  height: 323px;
  background-color: rgba(222, 222, 222, 0);
}

.idea-preview-container .user-info-preview-wrap {
  margin-top: 98px;
}

.idea-text-preview {
  float: left;
  width: 99.8729931932%;
  min-height: 91px;
  font-size: 1em;
  color: #080808;
}

.ideas-stats-wrap {
  float: left;
  width: 74px;
  height: 71px;
  background-color: rgba(222, 222, 222, 0);
}

.ideas-title {
  width: 74px;
  min-height: 21px;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: #f1f1f1;
}

.likes-stats {
  float: left;
  width: 67px;
  height: 35px;
  background: url('../images/heart-designed-by-freepik-from-flaticoncom(2).png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left bottom;
}

.line {
  height: 1px;
}

.links-logic {
  position: absolute;
  top: 25px;
  left: 2.5%;
  z-index: 150;
  width: 50%;
  min-height: 23px;
  font-size: 0.857em;
  line-height: 1.38;
  color: #c1c1c1;
}

.logic-links-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 151;
  width: 100%;
  height: 69px;
}

.logo {
  position: absolute;
  top: 0;
  left: 2.25%;
  z-index: 160;
  width: 210px;
  height: 75px;
  background-image: url('../images/logo-header(2).png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.logo-container-footer {
  position: absolute;
  top: 0;
  right: 0.2754820936%;
  width: 195px;
  height: 75px;
  background: url('../images/logo-footer.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.members-stats-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 145;
  width: 100%;
  height: 71px;
  margin: 0 auto;
  background-color: rgba(205, 205, 205, 0);
}

.nav-link1 {
  width: 90px;
  margin-left: 10.40539%;
}

.nav-link1:hover {
  text-decoration: none;
}

.nav-link2 {
  width: 94px;
  margin-left: 0.24299%;
}

.nav-link3 {
  width: 97px;
  margin-left: 4.11233%;
}

.nav-link4 {
  width: 100px;
  margin-left: 0.51981%;
}

.num-input {
  float: left;
  clear: both;
  width: 74px;
  min-height: 25px;
  font-size: 1.286em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 133, 25);
}

.numbers-likes-stats,
.numbers-replays-stats {
  float: left;
  width: 41px;
  min-height: 18.5px;
  margin-left: 25px;
  font-size: 1em;
  line-height: 1.38;
  color: #aeaeae;
}

.page-numbers {
  float: left;
  width: 8px;
  min-height: 12px;
  margin-left: 5px;
  font-size: 0.786em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.pages-circle-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 26;
  width: 60px;
  height: 21px;
  margin: auto;
  background-color: rgba(248, 159, 159, 0);
}

.post-header-center-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 149;
  width: 100%;
  height: 314px;
  margin: auto;
  background-color: rgba(243, 241, 241, 0);
}

.post-header-center-container .text-headline {
  width: 410px;
  min-height: 140px;
  margin: 25px auto 0;
  padding: 11px;
  font: 700 3.214em/1.30 Helvetica;
  color: rgb(255, 255, 255);
}

.post-header-image-container {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 440px;
  background: url('../images/lightbulb-idea1.png') rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.read_it-link {
  float: left;
  width: 48px;
  min-height: 19px;
  margin-top: 3px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  text-decoration: underline;
  color: #ef8522;
}

.read_it-link-wrap {
  float: left;
  width: 53px;
  height: 20px;
  margin: 16px 0 0 57.78669%;
  background-color: rgba(222, 222, 222, 0);
}

.replay-stats {
  float: left;
  width: 67px;
  height: 35px;
  margin-left: 11px;
  background: url('../images/chat-comment-oval-speech-bubble-with-text-lines-designed-by-catalin-fertu-from-flaticoncom.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left bottom;
}

.social-links-container {
  position: absolute;
  top: 0;
  left: -0.210915978%;
  z-index: 5;
  width: 121px;
  height: 85px;
  background-color: rgba(222, 222, 222, 0);
}

.social-logo-container-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  width: 37.4226804123%;
  height: 85px;
}

.stats-button-container {
  float: left;
  clear: both;
  width: 100%;
  height: 35px;
  background-color: rgba(208, 113, 113, 0);
}

.tags {
  float: left;
  width: 100%;
  min-height: 22.5px;
  font-size: 0.929em;
  line-height: 1.38;
  word-spacing: 20px;
  color: #969696;
}

.tags-container {
  float: left;
  width: 100%;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
}

.text-headline {
  text-align: center;
}

.text-preview-container {
  float: left;
  clear: both;
  width: 100%;
  height: 94px;
  background-color: rgba(161, 214, 245, 0);
}

.title-container {
  float: left;
  clear: both;
  width: 100%;
  height: 58px;
  background-color: rgba(247, 249, 173, 0);
}

.title-text {
  float: left;
  width: 85.4876285347%;
  min-height: 31px;
  margin-top: 12px;
  font-weight: 400;
  line-height: 1.38;
  color: #ef8522;
}

.top-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 21;
  width: 3.1690140845%;
  height: 22px;
  margin: auto 0;
  background: url('../images/upwards-arrow-designed-by-anas-ramadan-from-flaticoncom.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.top-arrow:hover {
  opacity: 0.8;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.top-headline-container {
  position: relative;
  width: 100%;
  height: 263px;
  margin: 0 auto;
  background-color: #fafafa;
}

.top-headline-wrap {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 133;
  width: 250px;
  height: 203px;
  margin: 0 auto;
  background-color: rgba(222, 222, 222, 0);
}

.top-headline-wrap .line {
  width: 175px;
  margin: 45px auto 0;
  background-color: #ebebeb;
}

.top-headline-wrap .text-headline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 132;
  width: 216px;
  min-height: 35px;
  margin: 0 auto;
  font-size: 1.429em;
  font-weight: 400;
  line-height: 1.38;
  color: #5b5b5b;
}

.top-headline-wrap .user-info-container {
  position: absolute;
  top: 68px;
  left: 0;
  right: 0;
  z-index: 130;
  width: 200px;
  height: 76px;
  margin: 0 auto;
}

.twitter-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/twitter-logo-button-designed-by-bogdan-rosu-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.user-info-preview-wrap {
  float: left;
  width: 52px;
  height: 74px;
}

.vertical-line-footer {
  position: absolute;
  top: 3px;
  width: 1px;
  height: 12px;
  background-color: #acacac;
}

.youtube-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/youtube-logo-designed-by-simpleicon-from-flaticoncom(3).png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.allign-container-info-1 {
  z-index: 112;
}

.allign-container-info-2 {
  z-index: 90;
}

.allign-container-info-3 {
  z-index: 68;
}

.allign-container-info-4 {
  z-index: 46;
}

.circle-wrap-1 {
  left: 3.5714285714%;
  z-index: 25;
}

.circle-wrap-2 {
  right: 2.8738839285%;
  z-index: 22;
}

.date-1,
.date-2,
.date-3 {
  margin-top: 4px;
}

.date-4 {
  margin-top: 5px;
}

.idea-text-preview-1 {
  line-height: 1.58;
}

.idea-text-preview-2,
.idea-text-preview-3,
.idea-text-preview-4 {
  line-height: 1.38;
}

.ideas-stats-wrap-1 {
  margin-left: 0.74219%;
}

.ideas-stats-wrap-2 {
  margin-left: 0.95573%;
}

.line-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 118;
  width: 100%;
  margin: 0 auto;
  background-color: #ebebeb;
}

.numbers-likes-stats-2 {
  margin-top: 18px;
}

.numbers-likes-stats-1,
.numbers-likes-stats-3,
.numbers-replays-stats-1,
.numbers-replays-stats-2,
.numbers-replays-stats-3 {
  margin-top: 17px;
}

.numbers-likes-stats-4,
.numbers-replays-stats-4 {
  margin-top: 16px;
}

.title-text-1 {
  font-size: 1.5em;
}

.title-text-2,
.title-text-3,
.title-text-4 {
  font-size: 1.429em;
}

.user-info-container-2 {
  z-index: 116;
}

.user-info-container-3 {
  z-index: 94;
}

.user-info-container-4 {
  z-index: 72;
}

.user-info-container-5 {
  z-index: 50;
}

.user-info-preview-wrap-1 {
  margin-left: 5%;
}

.user-info-preview-wrap-2,
.user-info-preview-wrap-3 {
  margin-left: 6.5%;
}

.vertical-line-footer-1 {
  left: 7.1428571428%;
  z-index: 9;
}

.vertical-line-footer-2 {
  left: 20.2857142857%;
  z-index: 10;
}

.vertical-line-footer-3 {
  left: 37.5714285714%;
  z-index: 11;
}

.vertical-line-footer-4 {
  left: 48.8571428571%;
  z-index: 8;
}