body {
  background-color: #fcfcfc;
  font: 400 0.938em/1.63 Lato;
  color: #333333;
        min-width: 1200px;
}

.allign-container-info button {
  float: left;
  margin-top: 3px;
}

.container-links ul {
  position: relative;
  float: left;
  width: 700px;
  height: 20px;
}

.content-allign-container button {
  float: right;
  margin-right: 9.375%;
}

.footer-navigation-link li {
  min-height: 18px;
  font-size: 0.733em;
}

.navigation li {
  font-size: 0.867em;
  text-align: center;
}

.navigation li:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.navigation-desktop li {
  font-weight: 900;
  color: #3e3e3e;
}

.navigation-desktop ul {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 97;
  width: 572px;
  height: 35px;
  margin: auto;
}

.navigation-tablet li {
  margin-top: 9px;
  font-weight: 700;
}

.navigation-tablet ul {
  visibility: hidden;
  float: left;
  width: 668px;
  height: 35px;
  margin: 15px 0 auto 2.5%;
}

button {
  display: block;
  width: 48px;
  min-height: 19px;
  font-size: 0.933em;
  line-height: 1.38;
  text-align: right;
  text-decoration: underline;
  color: #ef8522;
}

input {
  display: block;
  width: 716px;
  height: 54px;
  margin: 51px auto 0;
  padding: 0 10px;
  border: 1px solid #efefef;
  border-radius: 7px;
  background-color: #fafafa;
  font-size: 0.933em;
  font-weight: 400;
  line-height: 1.38;
  text-indent: 15px;
  color: #9c9c9c;
}

li {
  float: left;
  line-height: 1.38;
  text-transform: uppercase;
}

span {
  display: block;
  position: relative;
  float: right;
  z-index: 90;
  width: 52px;
  min-height: 21px;
  margin: 21px 15.63895% 0 0;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.38;
  color: #7a7a7a;
}

ul {
  background-color: rgba(222, 222, 222, 0);
}

.text-wrap p {
  margin-bottom: 1em;
}

.all_rights_reserved-text {
  float: left;
  clear: both;
  width: 492px;
  min-height: 20px;
  margin-top: 2px;
  font-size: 0.733em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.allign-container-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 73px;
  height: 210px;
  margin: auto 0;
  background-color: rgba(222, 222, 222, 0);
}

.allign-container-info .date {
  color: #f09851;
}

.allign-container-info .read_it-link-wrap {
  position: absolute;
  top: 0;
  right: 0;
}

.allign-container-info .stats-button-container {
  width: 639px;
  height: 36px;
  margin-top: 1px;
}

.avatar-img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: url('../images/avater_image(2).png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.back-arrow-wrap {
  position: relative;
  float: left;
  z-index: 74;
  width: 50px;
  height: 603px;
  margin-top: 25px;
  background: url('../images/left-arrow-designed-by-freepik-from-flaticoncom.png') rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: 22px auto;
  background-position: center top;
}

.container-links {
  position: relative;
  float: left;
  z-index: 18;
  width: 72.1649484536%;
  height: 42px;
  margin-top: 23px;
}

.content-allign-container {
  position: relative;
  width: 805px;
  height: 860px;
  margin: 0 auto;
  background-color: rgba(222, 222, 222, 0);
}

.content-allign-container .date {
  font-weight: 300;
  color: #c5c5c5;
}

.content-allign-container .dates-wrap {
  margin: 15px 0 0 18px;
}

.content-allign-container .read_it-link-wrap {
  float: right;
  margin-top: 15px;
}

.content-allign-container .stats-button-container {
  z-index: 63;
  width: 708px;
  height: 38px;
  margin: 142px 0 0 6.01514%;
}

.content-container {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 1587px;
  margin-top: 130px;
}

.controls-allign-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 22;
  width: 100%;
  height: 79px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
}

.controls-container {
  position: relative;
  width: 71%;
  height: 196px;
  margin: 1px auto 0;
  background-color: rgba(222, 222, 222, 0);
}

.date {
  float: left;
  width: 70px;
  min-height: 16px;
  margin-top: 4px;
  font-size: 0.8em;
  line-height: 1.38;
}

.dates-wrap {
  float: left;
  width: 97px;
  height: 20px;
  background-color: rgba(222, 222, 222, 0);
}

.facebook-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/facebook-logo-button-designed-by-bogdan-rosu-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.first-name {
  float: left;
  clear: both;
  width: 51px;
  min-height: 18px;
  margin-top: 5px;
  font-size: 0.933em;
  line-height: 1.38;
  text-align: center;
  color: #ef8522;
}

.footer-element-container {
  position: relative;
  width: 80.8333333333%;
  height: 87px;
  margin: 19px auto 0;
  background-color: rgba(222, 222, 222, 0);
}

.footer-link-1 {
  position: relative;
  z-index: 12;
  width: 66px;
  color: rgb(109, 109, 110);
}

.footer-link-2 {
  width: 66px;
  color: rgb(109, 109, 110);
}

.footer-link-3 {
  width: 81px;
  margin-left: 4.57143%;
  color: rgb(109, 109, 110);
}

.footer-link-4 {
  position: relative;
  z-index: 15;
  width: 66px;
  margin-left: 5.5625%;
  color: rgb(109, 109, 110);
}

.footer-link-5 {
  width: 198px;
  margin-left: 1.99777%;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.footer-section {
  float: left;
  clear: both;
  width: 100%;
  height: 128px;
  background-color: #121114;
}

.google_plus-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/google-plus-social-logotype-designed-by-freepik-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.header {
  position: relative;
  float: left;
  width: 100%;
  height: 75px;
  background-color: #fafafa;
}

.headline-border-rectangle {
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  z-index: 53;
  width: 182px;
  height: 26px;
  margin: 0 auto;
  border: 1px solid #efefef;
  background-color: #fafafa;
}

.headline-text {
  width: 171px;
  min-height: 16px;
  margin: 3px auto 0;
  font-size: 0.867em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(118, 118, 118);
}

.idea-preview-container {
  position: relative;
  width: 716px;
  height: 160px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(222, 222, 222, 0);
}

.idea-text-preview {
  float: left;
  width: 88.3401920438%;
  min-height: 91px;
  margin-top: 1px;
  font-size: 0.933em;
  font-weight: 300;
  line-height: 1.58;
  color: #080808;
}

.likes-stats {
  float: left;
  width: 67px;
  height: 35px;
  background: url('../images/favorite-heart-button-designed-by-google-from-flaticoncom.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left bottom;
}

.line {
  height: 1px;
  background-color: #efefef;
}

.links-logic {
  position: absolute;
  top: 25px;
  left: 2.5%;
  z-index: 77;
  width: 54.78125%;
  min-height: 23px;
  font-size: 0.8em;
  line-height: 1.38;
  color: #c9c9c9;
}

.logic-links-container {
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 78;
  width: 100%;
  height: 69px;
}

.login-panel {
  position: absolute;
  top: 0;
  right: 0.1158854166%;
  z-index: 91;
  width: 112px;
  height: 75px;
  background-color: rgba(222, 222, 222, 0);
}

.logo {
  position: absolute;
  top: 0;
  left: 2.25%;
  z-index: 87;
  width: 210px;
  height: 75px;
  background-image: url('../images/logo-header(2).png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.logo-container-footer {
  position: absolute;
  top: 0;
  right: 0.2754820936%;
  width: 195px;
  height: 75px;
  background: url('../images/logo-footer.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.nav-link1 {
  width: 125px;
  min-height: 20px;
  margin-top: 9px;
  color: #767676;
}

.nav-link1:hover {
  text-decoration: none;
  color: #000000;
}

.nav-link2 {
  width: 94px;
  min-height: 20px;
  margin-top: 9px;
  color: #7a7a7a;
}

.nav-link3 {
  width: 67px;
  min-height: 20px;
  margin-top: 9px;
  color: #767676;
}

.nav-link4 {
  width: 100px;
  min-height: 20px;
  margin-top: 9px;
  color: #767676;
}

.nav-link4:hover {
  color: #101010;
}

.nav-link5 {
  min-height: 34px;
  color: #767676;
}

.nav-link2:hover,
.nav-link3:hover,
.nav-link5:hover {
  color: #000000;
}

.navigation-desktop {
  position: relative;
  float: left;
  width: 100%;
  height: 76px;
  background-color: #fafafa;
}

.navigation-desktop .line {
  float: left;
  clear: both;
  width: 99.9166666666%;
}

.navigation-desktop .nav-link1 {
  margin-left: 0.17483%;
}

.navigation-desktop .nav-link3 {
  margin-left: 4.18761%;
}

.navigation-desktop .nav-link2,
.navigation-desktop .nav-link4 {
  margin-left: 4.37063%;
}

.navigation-desktop .nav-link5 {
  width: 86px;
  margin-left: 4.30507%;
}

.navigation-tablet {
  visibility: hidden;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 85;
  width: 100%;
  height: 50px;
  background-color: #efefef;
  overflow: visible;
}

.navigation-tablet .nav-link1 {
  margin-left: 0.16374%;
}

.navigation-tablet .nav-link3 {
  margin-left: 4.18694%;
}

.navigation-tablet .nav-link2,
.navigation-tablet .nav-link4 {
  margin-left: 4.36939%;
}

.navigation-tablet .nav-link5 {
  width: 144px;
  margin-left: 4.26647%;
}

.notifications {
  position: relative;
  float: right;
  z-index: 88;
  width: 68px;
  height: 75px;
  margin-right: 111px;
  background: url('../images/notifications-bell-button-designed-by-google-from-flaticoncom(2).svg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.numbers-likes-stats,
.numbers-replays-stats {
  float: left;
  width: 41px;
  min-height: 18.5px;
  margin: 17px 0 0 25px;
  font-size: 0.933em;
  font-weight: 300;
  line-height: 1.38;
  color: #aeaeae;
}

.post-text {
  float: left;
  width: 100%;
  min-height: 550px;
  font-size: 1em;
  font-weight: 400;
  color: #333333;
}

.read_it-link-wrap {
  width: 53px;
  height: 20px;
  background-color: rgba(222, 222, 222, 0);
}

.replay-stats {
  float: left;
  width: 67px;
  height: 35px;
  margin-left: 11px;
  background: url('../images/chat-comment-oval-speech-bubble-with-text-lines-designed-by-catalin-fertu-from-flaticoncom.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left bottom;
}

.reply-container {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 702px;
  margin-top: 25px;
  background-color: #fafafa;
}

.reply-container .line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 51;
  width: 100%;
  margin: 0 auto;
}

.social-links-container {
  position: absolute;
  top: 0;
  left: -0.210915978%;
  z-index: 5;
  width: 121px;
  height: 85px;
  background-color: rgba(222, 222, 222, 0);
}

.social-logo-container-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  width: 37.4226804123%;
  height: 85px;
}

.stats-button-container {
  position: relative;
  float: left;
  clear: both;
  background-color: rgba(208, 113, 113, 0);
}

.tags {
  width: 711px;
  min-height: 22.5px;
  margin: 0 auto;
  font-size: 0.867em;
  font-weight: 300;
  line-height: 1.38;
  word-spacing: 20px;
  color: #969696;
}

.tags-wrap {
  position: absolute;
  top: 750px;
  left: 0;
  right: 0;
  z-index: 65;
  width: 716px;
  height: 24px;
  margin: 0 auto;
  background-color: rgba(222, 222, 222, 0);
}

.text-preview-container {
  float: left;
  width: 100%;
  height: 94px;
  margin-top: 40px;
  background-color: rgba(161, 214, 245, 0);
}

.text-wrap {
  position: absolute;
  top: 175px;
  left: 6.2732919254%;
  z-index: 67;
  width: 726px;
  height: 562px;
  background-color: rgba(255, 255, 255, 0);
}

.title {
  float: left;
  width: 498px;
  min-height: 42px;
  margin: 12px 0 0 100px;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: #ef8522;
}

.title-wrap {
  position: absolute;
  top: 100px;
  left: 6.25%;
  z-index: 69;
  width: 748px;
  height: 68px;
  background-color: rgba(255, 255, 255, 0);
}

.top-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 21;
  width: 3.1690140845%;
  height: 22px;
  margin: auto 0;
  background: url('../images/upwards-arrow-designed-by-anas-ramadan-from-flaticoncom.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.top-arrow:hover {
  opacity: 0.8;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.twitter-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/twitter-logo-button-designed-by-bogdan-rosu-from-flaticoncom.png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.user-avatar-info-wrap {
  position: relative;
  float: left;
  z-index: 73;
  width: 748px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
}

.user-avatar-info-wrap .user-info-preview-wrap {
  margin: 25px 0 0 324px;
}

.user-info-container {
  float: left;
  width: 52px;
  background-color: rgba(222, 222, 222, 0);
}

.user-info-container .first-name {
  font-weight: 400;
}

.user-info-container .user-info-preview-wrap {
  margin-top: 22px;
}

.user-info-preview-wrap {
  float: left;
  width: 52px;
  height: 74px;
}

.user-login {
  position: absolute;
  top: 0;
  right: 56.3973063973%;
  z-index: 89;
  width: 47px;
  height: 75px;
  background: url('../images/man-user-designed-by-freepik-from-flaticoncom(2).svg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.vertical-line-footer {
  position: absolute;
  top: 3px;
  width: 1px;
  height: 12px;
  background-color: #acacac;
}

.youtube-ico-link {
  float: left;
  width: 30px;
  height: 86px;
  background: url('../images/youtube-logo-designed-by-simpleicon-from-flaticoncom(3).png') rgba(238, 175, 175, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.allign-container-info-1 {
  z-index: 45;
  width: 661px;
}

.allign-container-info-2 {
  z-index: 32;
  width: 729px;
}

.idea-preview-container-1 {
  margin-top: 80px;
}

.read_it-link-wrap-2 {
  z-index: 39;
}

.read_it-link-wrap-3 {
  z-index: 26;
}

.user-info-container-1 {
  height: 157px;
}

.user-info-container-2 {
  height: 156px;
}

.vertical-line-footer-1 {
  left: 7.1428571428%;
  z-index: 9;
}

.vertical-line-footer-2 {
  left: 20.2857142857%;
  z-index: 10;
}

.vertical-line-footer-3 {
  left: 37.5714285714%;
  z-index: 11;
}

.vertical-line-footer-4 {
  left: 48.8571428571%;
  z-index: 8;
}

.idea-text-preview a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #333333;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.post-text em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.post-text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: 1.4em;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: 0;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.post-text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: 0;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 1100px) {
  .navigation-desktop ul {
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .navigation-tablet li {
    color: rgb(255, 255, 255);
  }

  .navigation-tablet ul {
    visibility: visible;
    margin-top: 10px;
    margin-left: 4.5%;
  }

  div input {
    float: left;
    clear: both;
    margin-top: 0;
    margin-right: 0;
    margin-left: 17.44911%;
  }

  div span {
    position: relative;
    z-index: 90;
  }

  .allign-container-info .dates-wrap {
    margin-top: 15px;
    margin-left: 163px;
  }

  .allign-container-info .stats-button-container {
    position: relative;
    margin-top: -39px;
  }

  .allign-container-info .text-preview-container {
    position: relative;
    margin-top: 80px;
  }

  .content-allign-container .back-arrow-wrap {
    position: relative;
    z-index: 74;
    margin-top: 0;
  }

  .content-allign-container .read_it-link-wrap {
    margin-top: 52px;
    margin-right: 30.67083%;
  }

  .content-allign-container .stats-button-container {
    position: relative;
    clear: none;
    z-index: 63;
    width: 65.8517456191%;
    margin-top: 167px;
    margin-left: 34.14667%;
  }

  .content-allign-container .tags-wrap {
    right: auto;
    width: 59.9941738%;
  }

  .content-allign-container .text-wrap {
    top: 168px;
    left: 6.25%;
  }

  .content-allign-container .user-avatar-info-wrap {
    position: relative;
    clear: both;
    z-index: 73;
    margin-top: -584px;
    margin-left: 6.23408%;
  }

  .content-container {
    position: relative;
    z-index: 76;
    width: 63.6491477272%;
    margin-top: 183px;
    margin-left: 16.81534%;
  }

  .content-container .content-allign-container {
    float: left;
    width: 99.8774072753%;
    margin-right: 0;
    margin-left: -0.10489%;
  }

  .content-container .reply-container {
    width: 123.881363119%;
  }

  .controls-allign-wrap .top-arrow,
  .idea-preview-container .allign-container-info {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .controls-container .controls-allign-wrap {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .footer-element-container .container-links {
    position: relative;
    z-index: 18;
  }

  .footer-navigation-link .footer-link-1 {
    position: relative;
    z-index: 12;
  }

  .footer-navigation-link .footer-link-4 {
    position: relative;
    z-index: 15;
  }

  .footer-section {
    position: relative;
    z-index: 20;
    margin-top: -53px;
  }

  .logic-links-container {
    width: 99.9985795454%;
    height: 68px;
  }

  .logic-links-container .links-logic {
    left: 2.5000355118%;
    width: 54.780607679%;
  }

  .navigation-desktop .line {
    width: 99.9161931818%;
  }

  .navigation-desktop .login-panel {
    right: 1.4488636363%;
  }

  .navigation-desktop .logo {
    left: 4.5%;
  }

  .navigation-desktop .notifications {
    position: relative;
    z-index: 88;
    margin-right: 127px;
  }

  .navigation-tablet {
    visibility: visible;
    background-color: #fcaf68;
  }

  .navigation-tablet .nav-link5 {
    margin-left: 4.29688%;
  }

  .reply-container .controls-container {
    width: 57.3121960007%;
    margin-top: 916px;
  }

  .reply-container .headline-border-rectangle {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .reply-container .idea-preview-container {
    float: left;
    margin-right: 0;
    margin-left: 0;
  }

  .reply-container .line {
    left: 0;
    right: 0;
    width: 80.7223923617%;
    margin-right: auto;
    margin-left: auto;
  }

  .tags-wrap .tags {
    width: 145.5421506741%;
  }

  .text-wrap .post-text {
    width: 87.5167112299%;
  }

  .title-wrap .title {
    width: 319px;
    margin-top: 0;
    margin-left: 22.26354%;
  }

  .user-avatar-info-wrap .user-info-preview-wrap {
    margin-top: 11px;
    margin-left: 50.45538%;
  }

  .user-info-container .user-info-preview-wrap {
    margin-top: 98px;
  }

  .allign-container-info .stats-button-container-2 {
    z-index: 42;
  }

  .allign-container-info .stats-button-container-3 {
    z-index: 29;
  }

  .allign-container-info .text-preview-container-1 {
    z-index: 44;
  }

  .allign-container-info .text-preview-container-2 {
    z-index: 31;
  }

  .reply-container .idea-preview-container-1 {
    margin-top: 30px;
  }

  .reply-container .idea-preview-container-2 {
    clear: both;
    margin-top: 6px;
  }
}